.procedimientos{
    padding: 4rem;
    .title{
        font-size: 25px;
        font-weight: 600;
        font-family: 'Raleway';
        margin-bottom: 35px;
    }
    .edit{
        margin-top: 35px;
    }
}