@import "../../assets/scss/variables.scss";

.form-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $border-button;
    border-radius: 5px;
  }

  .top-content {
    width: 100%;
    display: flex;
    gap: 10px;
    h2 {
      color: $dark-blue;
      margin: 0;
      margin-left: 58px;
      font-family: 'Raleway';
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
    }
    .centerBotton {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 10px 10px;
  
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: $green;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 16px;
        border: none;
        cursor: pointer;
        
        &:hover {
          border: none;
        }
        .plusIcon {
          margin-right: 10px;
        }
      }
    }
  }
  


  .procedimiento-form {
    align-items: flex-end;
    display: flex;
    width: 100%;
    gap: 30px;
    .delete {
      margin-bottom:5px;
      background-color: transparent;
    }
    .form-input {
      width: 100%;
      input {
        border: 2px solid $border-mid-green;
        margin-top: 10px;
        padding: 10px;
        width: 82%;
        border-radius: 5px;
        outline: none;
        background-color: $gray;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: normal;

        &:focus {
          border-color: #007bff; 
        }
      }
    }

    .m-left {
      margin-left: 20px;
    }
    .title-procedimiento {
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: $black;
    }
    .title-from {
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: $black;
    }
    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      font-size: 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }

    p {
      color: #ff4d4f; 
      font-size: 0.9rem;
      margin: -5px 0 0;
    }
  }

  .action-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
/* Tablets */
@media (max-width: 768px) {
  .procedimiento-form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    padding:10px ;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); 
    .title-procedimiento{
      font-size: 18px;
      font-weight: bold;
      
    }
    .form-input {
      width: 100%;
      display: flex;
      flex-direction: column;

      
      .title-from {
        font-size: 14px;
        text-align: left;
      }
      
      input {
        padding: 8px;
        width: 93%;
      }
    }
    .delete {
      grid-column: 2; 
      grid-row: 3; 
      align-self: end; 
    }
  }
}

/* Mobile */
@media (max-width: 480px) {

  .top-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   h2{
    margin-left: 0;
   }
  }
    .procedimiento-form {
      display: flex;
      padding: 10px;
      flex-direction: column;
      align-items: stretch;
      border-radius: 8px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      gap: 15px;
      
      
  }
  
}
}